Flask
Flask-Cors
gunicorn

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-qdrant

sentence-transformers
transformers

torch

qdrant-client

mistralai

python-dotenv

SpeechRecognition
pydub

requests
